@font-face {
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url;
}
    body {
    font-family: "neue-haas-unica", sans-serif;
    font-size: 35px;
    margin-left: 1.5%;
    margin-top: 1.5%;
    line-height: 40px;
    background: #ebe8e6;
}
.rectangle {
    background-color: rgb(40, 39, 39);
    color: white;
    height: 8rem;
    width: 30rem;
    padding: 7px;
    padding-top: 4px;
}
#rectangle-2 {
    background-color: #ff8533;
    color: white;
    height: 2.7rem;
    width: 30rem;
    padding: 7px;
    padding-top: 4px;
}
:hover#rectangle-2 {
    background-color: white;
    color: #ff8533;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
#rectangle-3 {
    background-color: #ff8533;
    color: white;
    height: 7.9rem;
    width: 30rem;
    padding: 7px;
    padding-top: 4px;
    display: none;
}
#rectangle-4 {
    background-color: #ce95ed;
    color: white;
    height: 2.7rem;
    width: 30rem;
    padding: 7px;
    padding-top: 4px;
}
:hover#rectangle-4 {
    background-color: white;
    color: #ce95ed;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
#rectangle-5 {
    background-color: #ce95ed;
    color: white;
    height: 7.9rem;
    width: 30rem;
    padding: 7px;
    padding-top: 4px;
    display: none;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    font-weight: bold;
}