
@font-face {
    font-family: 'ABC Diatype Rounded Semi-Mono Unlicensed Trial';
    src: url(/ABCDiatypeRoundedSemi-Mono-Medium-Trial.otf) format(woff);
}
    body, html {
    margin-left: 0px;
    margin-bottom: 10vh;
    width: 100%;
    padding: 0px;
    height: 100%;
    overflow: hidden;
}
p {
    font-family: 'ABC Diatype Rounded Semi-Mono Unlicensed Trial', sans-serif;
    font-size: 1.5vh;
    margin-top: 0;
    margin-bottom: 3.5%;
    text-align: center;
}
h1 {
    font-family: 'ABC Diatype Rounded Semi-Mono Unlicensed Trial', sans-serif;
    font-size: 8vh;
    color: black;
    margin-top: 0;
    margin-bottom: 4%;
    letter-spacing: -2.5px;
    line-height: 7.5vh;
}
h3 {
    font-family: 'ABC Diatype Rounded Semi-Mono Unlicensed Trial', sans-serif;
    font-size: 2.5vh;
    color: white;
    margin: 0;
}
h2 {
    font-family: 'ABC Diatype Rounded Semi-Mono Unlicensed Trial', sans-serif;
    font-size: 2.5vh;
    color: black;
    margin: 0;  
}
h4 {
    font-family: 'ABC Diatype Rounded Semi-Mono Unlicensed Trial', sans-serif;
    font-size: 2.5vh;
    color: #FAD40E;
    margin: 0;     
}
h5 {
    font-family: 'ABC Diatype Rounded Semi-Mono Unlicensed Trial', sans-serif;
    font-size: 2.5vh;
    color: #0E97FA;
    margin: 0;  
}
.split {
    display: flex;
    height: 100%;
}
.left, .right {
    overflow-y: auto;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5%;
}
.left {
    margin-top: 1%;
    background-color: #FAF6E1;
    height: 100%;
}
.right {
    margin-top: 1%;
    background-color: #EEF6FB;
    height: 100%;
    margin-bottom: 10vh;
}
.container-topbar {
    height: 2.5%;
    position: relative;
}
.left-topbar {
    display: flex;
    background-color: #FAD40E;
    position: fixed;
    width: 50%;
    padding: .5%;
    padding-left: 2vw;
    left: 0;
    top: 0;
    vertical-align: middle;
    box-sizing: border-box;
}
.right-topbar {
    background-color: #0E97FA;
    position: fixed;
    width: 50%;
    padding: 0.5%;
    padding-left: 2vw;
    right: 0;
    top: 0;
    vertical-align: middle;
    box-sizing: border-box;
}
.timeline-container {
    height: 5%;
    position: relative;
}
.timeline {
    background-color: #F0EFEF;
    position: fixed;
}
.content-left {
    margin-top: 1.5%;
    height: 100vh;
}
.content-right {
    margin-top: 1.5%;
    height: 100%;
}
iframe {
    border-radius: 10px;
    margin-bottom: 2.5%;
}
img {
    height: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5%;
}
#btw {
    height: 2.5%;
    width: 10vw;
    color: white;
    border-radius: 100%;
    position: absolute;
}
.drag {
    height: 100px;
    width: 100px;
    background-color: green;
    cursor: grab;
}
video {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 10px;
    margin-bottom: 1.5%;
}
::-webkit-scrollbar {
    display: none
}
.bottom {
    height: 10vh;
}
.center {
    text-align: center;
}
.diary {
    position: absolute;
    bottom: 1.5vh;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    border-radius: 23.5px;
    backdrop-filter: blur(5px);
    background-color: rgba(221, 221, 221, 0.50);
    padding: .5%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    box-sizing: border-box;
}