body {
    background-color: magenta;
    @font-face: Arial;
}.one {
    float: left;
    margin-left: 150px;
    margin-top: 50px;
}
.test {
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
.test:hover{
   color: pink;
}
.left {
    background-color: white;
    height: 300px;
    width: 50px;
    position: absolute;
}
.top {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 0px;
}
.middle {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 150px;
}
.bottom {
    background-color: yellow;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 300px;
}
.top-1 {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
}
.middle-1 {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 200px;
}
.bottom-1 {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 350px;
}
.left-1 {
    background-color: white;
    height: 300px;
    width: 50px;
    position: absolute;
}
.italic {
    transform: skewX(-15deg);
    float: right;
    margin-right: 35%;
    margin-top: 100px;
}
.rounded-left {
    background-color: white;
    height: 300px;
    width: 50px;
    position: absolute;
    border-radius: 50px;
    margin-left: 250px;
    margin-top: 500px;
}
.rounded-top {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    margin-top: 500px;
    margin-left: 250px;
    border-radius: 75px;
}
.rounded-middle {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    margin-top: 625px;
    margin-left: 250px;
    border-radius: 75px;
}
.rounded-bottom {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    margin-top: 750px;
    margin-left: 250px;
    border-radius: 75px;
}
.top-angle {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    transform: rotate(-30deg);
    margin-left: 100px;
    margin-top: 900px;
}
.reverse-angle {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    transform: rotate(30deg);
    margin-left: 100px;
    margin-top: 1045px;
}
.top-angle-2 {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    transform: rotate(-30deg);
    margin-left: 100px;
    margin-top: 1190px;
}
.reverse-angle-2 {
    background-color: white;
    height: 50px;
    width: 200px;
    position: absolute;
    transform: rotate(30deg);
    margin-left: 100px;
    margin-top: 1335px;
}
.rectangle {
    background-color: white;
    height: 570px;
    width: 300px;
    position: absolute;
    margin-top: 855px;
    margin-left: 400px;
}
.rectangle-t-1 {
    background-color: magenta;
    height: 200px;
    width: 225px;
    margin-top: 925px;
    margin-left: 475px;
    position: absolute;
    opacity: 100%;
    transition-duration: 0.5s;
}
.rectangle-t-2 {
    background-color: magenta;
    height: 200px;
    width: 225px;
    margin-top: 1170px;
    margin-left: 475px;
    position: absolute;
    opacity: 100%;
    transition-duration: 1s;
}
:hover.rectangle-t-2 {
    transition-timing-function: ease-in-out;
    opacity: 0%
}
:hover.rectangle-t-1 {
    transition-timing-function: ease-in-out;
    opacity: 0%;
}
.bottom {
    height: 50px;
    background-color: magenta;
    position: absolute;
    margin-top: 1100px;
}
.angled {
    transition-duration: 0.5s;
}
:hover.angled {
    transition-timing-function: ease-in-out;
    background-color: yellow;
}