body {
  background-color: #2E2D2D;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

@font-face {
  font-family: 'ABCCameraPlain-Regular-Trial';
  src: url(ABCCameraPlain-Regular-Trial.woff) format(woff);
}

h5 {
  font-family: 'ABCCameraPlain-Regular-Trial', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: white;
  margin: 0px;
  line-height: 40px;
}

#userInput {
  font-family: 'ABCCameraPlain-Regular-Trial', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #ea5e5e;
  margin: 0px;
  line-height: 40px;
  margin-right: 1.5vw;
}

h1 {
  font-family: 'ABCCameraPlain-Regular-Trial', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: white;
  margin-top: 0;
}

h4 {
  font-family: 'ABCCameraPlain-Regular-Trial', sans-serif;
  font-weight: normal;
  color: white;
  margin-top: 0;
  text-align: center;
}

#draggable {
  display: flex;
  width: 168px;
  height: 38px;
  border-radius: 20px;
  background-color: #7B79DB;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

:hover#draggable {
  background-color: #8D8AF9;
}

#droppable {
  width: 10vw;
  height: 114px;
  border-radius: 20px;
  border: 2px dashed #7B79DB;
  text-align: center;
  margin-right: 1.5vw;
  margin-bottom: 3vh;
  box-sizing: border-box;
}

input[type="text"] {
  width: 10vw;
  height: 114px;
  border-radius: 20px;
  border: 2px dashed #ea5e5e;
  text-align: center;
  background-color: #ECDE96;
  margin-right: 1.5vw;
  margin-bottom: 3vh;
  box-sizing: border-box;
  margin-right: 1.5vw;
}

.flex-container {
  display: flex;
}

.left {
  flex: 1;
  margin: 2vh;  
}

.right {
  position: relative;
  flex: 1;
  margin: 2vh;
  height: 96vh;
  width: 45%;
}

hr {
  border: none;
  height: 0.1em;
  background-color: #D9D9D9;
  margin-top: 0px;
}

.load-outline {
  background-color: purple;
  height: 100%;
  width: 100%;
  padding: 1.5vw;
  box-sizing: border-box;
  border-radius: 15px;
  position: fixed;
  z-index: 1;
}

.flyer-1 {
  background-color: #ECDE96;
  height: 100%;
  width: 100%;
  padding: 1.5vw;
  box-sizing: border-box;
  border-radius: 15px;
  z-index: 2;
}

.helper-text { 
  position: absolute;
  border: 2px solid white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.flyer-1 {
  background-color: #ECDE96;
  height: 100%;
  width: 100%;
  padding: 1.5vw;
  box-sizing: border-box;
  border-radius: 15px;
  z-index: 2;
  display: none;
}

.outline {
  width: 48vw;
  height: 255px;
  border-radius: 22px;
  border: 1px solid #FFF;
  padding: 1vh;
  align-content: center;
  margin-bottom: 2vh;
  box-sizing: border-box;
}

.generate {
  display: flex;
  width: 168px;
  height: 38px;
  border-radius: 20px;
  background-color: #6B6767;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
  color: white;
  justify-content: center;
  align-items: center;
}

:hover.generate {
  background-color: #A6A4A4;
}

.landing {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition : all ease-in-out 600ms;
}

.about {
  height: 50vh;
  width: 50vw;
  background-color: green;
  border-radius: 20px;
}

.hidden {
  transition: 0.5s;
  display: none;
}

.left-outline-1 {
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  width: 100%;
  padding: 1vw;
  box-sizing: border-box;
  gap: 1.25vw;
  justify-content: center;
  align-content: center;
  margin-bottom: 3.5vh;
}

.left-outline-flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.left-outline-1#purple {
  border: 2px solid #7B79DB
}

.left-outline-2 {
  flex: 1;
  border: 2px solid white;
  border-radius: 20px;
  width: 50%;
  padding: 1vw;
  box-sizing: border-box;
  margin-bottom: 2.5vh;
  gap: 1.25vw;
}

.left-outline-2#red {
  border: 2px solid #ea5e5e;;
}

.left-outline-flex {
  display: flex;
  gap: 1.25vw;
}

.left-outline-3 {
    flex: 1;
    border: 2px solid #7b79db;
    border-radius: 20px;
    padding: 1vw;
    padding-top: 3.3vh;
    box-sizing: border-box;
    gap: 1.25vw;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.logo {
  width: 13vw;
  height: 42px;
  border-radius: 20px;
  border: 2px dashed white;
  text-align: center;
  margin-right: 1.5vw;
  box-sizing: border-box;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oval {
    width: 13vw;
    height: 38px;
    border-radius: 20px;
    border: 2px dashed white;
    text-align: center;
    margin-bottom: 3vh;
    padding-right: 1vw;
    padding-left: 1vw;
    box-sizing: border-box;
}

.purple {
  border: 2px dashed #7B79DB;
  color: #7B79DB;
}

.red {
  border: 2px dashed #ea5e5e;
  color: #ea5e5e;
}

.logo#top {
  margin-bottom: 5vh;
}

.logo#drag {
  border: 2px dashed #7B79DB;
  color: #7B79DB;
  margin: 1.5vh;
  margin-left: 0;
}

.logo#instruction {
  border: 2px dashed white;
  margin: 1.5vh;
  margin-left: 0;
}

.logo#instructions {
  border: 2px dashed white;
  margin: 1.5vh;
  flex: 1
}

.logo#writein {
  border: 2px dashed #ea5e5e;
  margin: 1.5vh;
  flex: 1
}

.logo-flex {
  display: flex;
  gap: 1.25vw;
}

.option-button {
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
  background-color: #595757;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-button#download {
  margin-left: auto;
  display: flex;
}

:hover.option-button {
  background-color: #A6A4A4;
}

button {
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
  background-color: #595757;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
}

button:hover{
  background-color: #A6A4A4;
}

#flyer-3 {
  width: 100%;
  height: 100%;
  background-color: #ECDE96;
  display: none;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 1.5vw;
  box-sizing: border-box;
}

#flyer-2 {
  width: 100%;
  height: 100%;
  background-color: #ECDE96;
  display: none;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 1.5vw;
  box-sizing: border-box;
}

::selection {
  color: white;
  background-color: #A6A4A4;
}

